*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --black: #070709;
    --white: #fff;
    --title: #5044e5;
    --desc: #696969;
    --bg: var(--white);
    --fg: var(--black);
    --font-s: 12px;
    --font-m: 16px;
    --font-h: 20px;
}
body{
    background: linear-gradient(
        135deg,
        #000 0%,        
        #0a0a0a 15%,       
        #111111 30%,      
        #1a1a1a 45%,       
        #1f1f1f 60%,      
        #262626 80%,     
        #2e2e2e 100%
      );
      background-size: 200% 200%;
      animation: gradientMove 10s ease infinite;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}
@keyframes gradientMove {
    0%   { background-position: 0% 0%; }
    50%  { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
  }
  header{
      display: flex;
      .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
         // color: var(--white);
          i{
            background: linear-gradient(90deg,#ffffff, #e8e0f5, #fafafa); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        background-clip: text;
            transform: rotate(180deg);
            font-size: 2rem;
            position: relative;
          }
      }
  }
  .logo i::after{
    content: '';
    position: absolute;
    width: .2rem;
    height: calc(100% + 1rem);
    left: -10px;
    top: -.5rem;
    z-index: 1;
    background: linear-gradient(90deg,var(--black), #e8e0f5, var(--black)); 
  
}
.title-logo{
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px #787e96;
    letter-spacing: .25rem;
   overflow: hidden;
   animation: load .75s steps(9) forwards;
   cursor: pointer;
}
.title-logo::before{
content: 'PlayFinder';
position: absolute;
left: 0;
top: 0;
width: 0%;
background: linear-gradient(90deg,#8326F0, #AE76F0, #fff); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;   
white-space: nowrap;
/* border-right: 2px solid #311144; */
overflow: hidden;
animation: load 1s steps(9) forwards;
}

@keyframes load {
    from{
        width: 0ch;
    }
   to{
        width: 12ch;
    }     
}