*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --black: #070709;
    --white: #fff;
    --title: #5044e5;
    --desc: #696969;
    --desc2: #a39f9f;
    --bg: var(--white);
    --fg: var(--black);
    --font-s: 1.2rem;
    --font-m: 1.5rem;
    --font-h: 1.75rem;
    --font-xl: 4.5rem;
}
body{
    background: linear-gradient(
        65deg,
        #000 0%,        
        #0a0a0a 15%,       
        #111111 30%,      
        #1a1a1a 45%,       
        #1f1f1f 60%,      
        #262626 80%,     
        #2e2e2e 100%
      );
      background-size: 200% 200%;
      animation: gradientMove 10s ease infinite;
    font-family: "Outfit", monospace;
    font-size: 16px;
}
@keyframes gradientMove {
    0%   { background-position: 0% 0%; }
    50%  { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
  }
  header{
    width: calc(100% - 400px);
    position: relative;
    top: 0;
  //  z-index: 1000;
      display: flex;
      align-items: center;
     
      //margin: 0;
   margin:  1.5rem  auto;
   gap:1rem;
     justify-content: space-between;
      border-radius: 1rem;
      corner-shape: squircle;
     background: inherit;
  padding: 2rem 5rem;
      box-shadow: 0 4px 20px rgba(0,0,0,0.4);
      .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        background: linear-gradient(to right, transparent 80%, #fff 100%);
        transition: all .3s;
        cursor: pointer;
        
          i{
              border-radius: .5rem;
              padding: .25rem;
            background: linear-gradient(90deg,#ffffff, #e8e0f5, #fafafa); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        background-clip: text;
            transform: rotate(180deg);
            font-size: 1.5rem;
            position: relative;
            box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.6), 0 0 12px rgba(207, 210, 218, 0.8);
          }
      }
      .logo:hover{
        i{
            background: linear-gradient(90deg,#000, #8e79a7, #fafafa); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: inset 5px 5px 10px #bebebe;
        }
        .title-logo{
            -webkit-text-stroke: 1.5px #e8e0f5;
        }
  }
 
}
header::after,header::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    padding: .2rem;
    margin: 0;
    top: 50%;
    left: 50%;
    translate: -50%-50%;
  z-index: -1;
    background-image: conic-gradient(from 100deg, transparent 40%, var(--white));
  //  animation: 3s spin linear infinite;
    border-radius: 1rem;
  
}
 @keyframes spin {
    from {
        --deg: 100deg;
    }
    to{
        --deg: 360deg;
    }
} 
/* @keyframes spin {
    0%   { --deg: 0deg }
    50%  { --deg: 75deg  }
    100% { --deg:0deg }
} */
header::before{
    filter: blur(1.5rem);
    opacity: .5;
}
  .logo i::after{
    content: '';
    position: absolute;
    width: .2rem;
    height: calc(100% + 1rem);
    left: -10px;
    top: -.5rem;
    z-index: -1;
    background: linear-gradient(90deg,var(--black), #e8e0f5, var(--black)); 
  
}
.title-logo{
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px #000;
    letter-spacing: .25rem;
   overflow: hidden;
   animation: load .75s steps(9) forwards;
   cursor: pointer;
}
.title-logo::before{
content: 'PlayFinder';
position: absolute;
left: 0;
top: 0;
width: 0%;
background: linear-gradient(90deg,#fff, #8e79a7, #fff); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;   
white-space: nowrap;
overflow: hidden;
animation: load 1s steps(9) forwards;
}

@keyframes load {
    from{
        width: 0ch;
    }
   to{
        width: 12ch;
    }     
}

@property --deg{
    syntax: "<angle>";
    initial-value: 100deg;
    inherits: false;
    }
.search {
    background: #ffffff29;
    display: flex;
   align-items:center ;
    max-width: 56rem;
    text-align: center;
    border-radius: 1.5rem;
    overflow: hidden;
   // flex: 0 1 70rem;
    width: 90rem;
   max-width:none;
    line-height: 1.4px;
    padding: .5rem 1rem;
    
    i{
        color: var(--white);
    }
   
}
.search input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    flex:2;
    background: transparent;
    padding: .5rem .5rem;
}
.search input::placeholder{
    color: var(--desc2);
}
.options{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap:nowrap;
    a{
        text-decoration: none;
        color: var(--white);
        position: relative;
        white-space: nowrap;
        position: relative;
    }
    a:hover::after{
            content: '';
            position: absolute;
            width: 100%;
            background: linear-gradient(90deg,#fff, #8e79a7); 
            padding: .1rem;
            translate: -50% -50%;
            left: 50%;
            bottom: -10px;
            border-radius: 1rem;
            opacity: 0.5;
        }
        a:hover{
            background: linear-gradient(90deg,#fff, #8e79a7, #fff); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;   
        }
}
.container{
    width: calc(100% - 400px);
    display: flex;
    align-items: flex-start;
    margin:   auto;
    .sidebar{
        position: sticky;
        margin-right: 1.25rem;
        .menu{
            margin-top: 1rem;
        }
        .menu a {
            text-decoration: none;
            color: var(--white);
            font-size: var(--font-h);
            background: linear-gradient(90deg,#fff, #8e79a7, #fafafa); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: inset 5px 5px 10px #bebebe;
        font-weight: 800;
        }
        .menu a:hover{
            -webkit-text-stroke: 1.5px #7b7680;
        }
    }
    .content{
        width: 100%;
        .content_header{
            .head1{
                font-size: var(--font-xl);
                color: var(--white);
                letter-spacing:2px;
                -webkit-text-stroke: 1.5px #8e79a7;
                background: linear-gradient(90deg,#fff, #8e79a7, #fff); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-shadow: 0 1px 0 #e8e0f5,
0 2px 0 #8e79a7,
0 3px 0 #8e79a7,
0 4px 0 #8e79a7,
0 5px 0 #8e79a7,
0 6px 0 #8e79a7,
0 7px 0 #8e79a7,
0 8px 0 #8e79a7,
1px 15px 10px rgba(0,16,16, 0.1),
1px 20px 20px rgba(0,16,16, 0.2),
1px 25px 40px rgba(0,16,16, 0.1),
1px 30px 80px rgba(16,16,16, 0.3);
            }
            .subtitle{
                font-size: var(--font-s);
                color: var(--white);
                
            }
        } 
    }
}
.elements{
    margin-top: 1rem;
    .title_menu{
        color: var(--white);
        background: linear-gradient(90deg,#fff,  #ffffff29, #8e79a7); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: inset 5px 5px 10px #bebebe;
        font-size: var(--font-h);
      //  margin: 1rem 0 1rem  0 ;
        white-space:pre;
        font-weight:800;
        text-decoration:none;
        display:block;
        margin-bottom:1rem;
}
    .sidebar_list{
display: block;
margin-bottom: 1rem;
      li{
        list-style: none;
        margin-bottom: .5rem;
        a{
            text-decoration: none;
        }
    }
}
}
