<%- include("header.ejs") %>
<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="game_content">
           <div class="game_content_wrap">
               <div class="breadcrumbs">
                   <ol>
                       <li>
                           <a href=""></a>
                       </li>
                   </ol>
               </div>
               <div class="game_content_columns">
                   <div class="left">

                   </div>
                   <div class="right">
                       
                   </div>
               </div>
           </div>
        </div>
    </div>
</main>
</body>
</html>