<%- include("header.ejs") %>
<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="content">
            <div class="content_header">
                <h1 class="head1"><%-  data.title[0] %></h1>
                <p class="subtitle"><%-  data.subtitle %></p>
            </div>
        </div>
    </div>
</main>
</body>
</html>