<%- include("header.ejs") %>
<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="content">
            <div class="content_header flex">
                <h1 class="head1"><%-  data.title[2] %></h1>
            </div>
        </div>
    </div>
</main>
</body>
</html>