<%- include("header.ejs") %>
<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="content">
            <div class="content_header flex">
                <h1 class="head1"><%-  data.title[1] %></h1>
                <div class="game_name">
                    <p>Replaced</p>
                    <button><i class="fa-solid fa-x"></i></button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>