<%- include("header.ejs") %>
<main>
    <div class="container">
        <%- include("nav.ejs") %>
        <div class="content">
            <div class="content_header flex">
                <h1 class="head1"><%-  data.title[1] %></h1>
                <div class="game_name">
                    <p><%-  name %></p>
                    <button id="return"><i class="fa-solid fa-x"></i></button>
                </div>
            </div>
                <div class="games">
                    <div class="controls flex-end">
                        <div class="display">
                            <div class="display_mode_title text">
                                Display options:
                            </div>
                            <div class="display_mode_select">
                                <div id="grid" class="mode-select active" role="button"></div>
                                <div id="column" class="mode-select" role="button"></div>
                            </div>
                        </div>
                    </div>    
                </div>     
                <div class="content_main">
                    
                </div>
        </div>
    </div>
</main>
</body>
</html>